.main-body{
    width: 400px;
    height: 500px;
    background-color: rgb(114, 128, 128);
    margin-left: 400px;
}
#screen{
    width: 80%;
    height: 80px;
    margin-left: 35px;
    margin-top: 25px;
    pointer-events: none;
    font-weight:500;
    font-size: larger;
}
.row{
    padding: 5px;
    margin-left: 60px;
    
}
.btn{
    width: 60px;
    height: 60px;
    margin-left: 5px;
    background-color: blanchedalmond;
    border-style: solid;
    font-size: larger;
    font-weight: 100;
}
.button{
    padding-top: 25px;
}